.main{

margin-top: 150px;  
margin-left: 420px;
}


.table{
  width: 100%;
  background-color: white;
  opacity: 0.9;
    border: 2px solid black;
}

.table h2 {
padding-left: -100px;
}

 .table li{
    padding-left: 50px;
    padding-bottom: -50px;
    display:block;
    
    /* float: center; */
    float: left;
    width: 30%; 
    /* border: 2px solid black; */
    
    
     /*adjust*/
    
}