.main{

margin-top: 200px;   
}


.table{
  width: 100%;
    /* border: 2px solid black; */
}

.table h2 {
padding-left: -100px;
}

 .table li{
    padding-right: 150px;
    display:block;
    
    /* float: center; */
    float: left;
    width: 30%; 
    /* border: 2px solid black; */
    
    
     /*adjust*/
    
}