.main{
   
margin-top: 200px;   
}


.table{
   
    border: 2px solid red;
}
 .table li{
    
    padding-right: 150px;
    display:block;
    float: inherit;
    float: left;
    width: 20%; 
    border: 2px solid red;
    
    
     /*adjust*/
    
}